@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .light body {
    --primary: 245 247 255;
    --white: 20 29 46;
    --secondary: 255 255 255;
    --background: 245 247 255;
    --slate-white: 51 65 85;
    --slate-light: 71 85 105;
    --accent: 238 238 238;
    background: rgba(var(--background));
  }
  .dark body {
    --primary: 20 29 46;
    --background: 20 29 46;
    --secondary: 30 43 72;
    --slate-white: 248 250 252;
    --slate-light: 243 235 235;
    --white: 255 255 255;
    --accent: 11 24 53;
    background: rgba(var(--background));
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
